{{#if currentUser}}
<h2 class="text-center">Home</h2>

{{#each photo}}
{{!-- TODO: need to actually render the image --}}
{{!-- <img src='{{{path}}}' alt=""> --}}
<section style="max-width: 500px; margin: 0 auto">

    <div>
        <div class="card">
            <img class="card-img-top" src="{{path}}" alt="Card image cap">
            <div>
                <form action="/index/{{id}}?_method=DELETE" method="POST" accept-charset="utf-8">
                    <button type="submit" value="Delete" class="btn btn-danger">Delete Photo</button>
                </form>
            </div>
            <div class="card-body">
                <h5 class="card-title">Comments</h5>
                {{#if comments.length}}
                {{#each comments}}
                <p class="card-text">{{content}}</p>
                {{/each}}
                {{/if}}
                <form action="/{{id}}?_method=PUT" method="POST" class="row">
                    <label for="exampleFormControlTextarea1">Comment</label>
                    <textarea type="text" name="content" class="form-control" id="" rows="3"></textarea>
                    <button class="btn btn-primary" id="photobutton" type="submit">Enter Comment</button>
                </form>

            </div>
        </div>
    </div>
</section>
{{!-- <form action="/index" method="POST">
    <textarea name="photocomment" id="photocomment" cols="30" rows="3"></textarea>
    <button id="photobutton" type="submit">Enter Comment</button>
</form> --}}
</div>
{{/each}}

{{else}}
<div class="jumbotron">
    <h1 class="display-4">PixaShare!</h1>
    <p class="lead">This is a simple heroku app that lets you create an album to share with friends! </p>
    <hr class="my-4">
    <p>Made by Juan Baires</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">New User</a>
</div>
{{/if}}